{# templates/circuito/show.html.twig #}
<h1>{{ circuito.id }}</h1>
<p><strong>Longitud:</strong> {{ circuito.longitud }}</p>
<p><strong>Curvas:</strong> {{ circuito.curvas }}</p>
<p><strong>Vuelta Record:</strong> {{ circuito.vueltaRecord }}</p>
<p><strong>Inauguración:</strong> {{ circuito.inauguracion|date('Y-m-d') }}</p>
<p><strong>Historia:</strong> {{ circuito.historia }}</p>

